/* 
    Document   : content
    Created on : 01-Oct-2010, 22:16:38
    Author     : Anwar
    Description:
        Purpose of the stylesheet follows.
*/
.content_class{display:block;}
.font_size_10{font-size:10px;}